.foodStoreDetailPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foodStoreDetailImageContainer {
  width: 100%;
  height: 35rem;
}

.foodStoreDetailContainer{
  display: flex;
}